*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(aquamarine,rgb(25, 25, 67));
    min-height: 100vh;

}
.nav{
    position: relative;
    text-align: center;
 
}

.home{
    position: absolute;
    right:50px;
    top:10px;
    text-decoration: none;
    font-weight: 600;
}
.content{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    gap:15px 20px;
}
.herocontainer{
    position: relative;
    width:20vw;
    min-width: 200px;
    max-width: 400px;
    min-height: 300px;
    max-height: 500px;
    height: 30vw;
    background:linear-gradient(to left,rgb(131, 246, 225),rgb(208, 208, 232));
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgb(3, 3, 40);
}
.heroimg{
    width: 100%;
    height: 70%;
    border:1px solid royalblue;
    
}
.herocontainer a{
    text-decoration:none;
    

}
.herocontainer h4{
    text-align: center;
    color:rgb(4, 4, 137);
    font-size: 1.25rem;
}

.herocontainer p{
    position: relative;
    line-height: 1em;
    text-overflow: ellipsis;
    color: blue;
    padding: 0 10px;
    overflow:hidden;
    height: calc(1rem *2);;
}
.favorite{
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.favorite button{
    background-color: rgb(33, 40, 238);
    color:wheat;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
