*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    background: linear-gradient(aquamarine,rgb(25, 25, 67));

}

.header{
    text-align: center;
}
.search{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.search input{
    border:none;
    outline: none;
    font-size: large;
    padding: 5px;
    border-radius: 10px 0 0 10px;
    width:40vw;

}
.search .searchbtn{
    outline: none;
    border:none;
    padding: 5px;
    border-radius: 0 10px 10px 0;
background-color: rgb(201, 201, 246);
cursor: pointer;
}

.searchresult{
    display: flex;
    flex-direction: column;
   position: absolute;
   left:0;
   right:30px;
   margin: 0 auto;

   width: 40vw;

    z-index: 10;
    border-radius: 10px;
    overflow: hidden;
}
.searcheditem{
border: 1px solid blue;
padding: 10px 20px;
border-radius: 10px;
background-color:rgba(244, 246, 247, 0.5);
color:rgb(87, 81, 199)
}
.searcheditem a{
    text-decoration: none;
    font-weight: 600;
}
.content{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.herocontainer{
    position: relative;
    width:20vw;
    min-width: 200px;
    max-width: 400px;
    min-height: 300px;
    max-height: 500px;
    height: 30vw;
    background:linear-gradient(to left,rgb(131, 246, 225),rgb(208, 208, 232));
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgb(3, 3, 40);
}
.heroimg{
    width: 100%;
    height: 70%;
    border:1px solid royalblue;
    
}
.herocontainer a{
    text-decoration:none;
    

}
.herocontainer h4{
    text-align: center;
    color:rgb(4, 4, 137);
    font-size: 1.25rem;
}

.herocontainer p{
    position: relative;
    line-height: 1em;
    text-overflow: ellipsis;
    color: blue;
    padding: 0 10px;
    overflow:hidden;
    height: calc(1rem *2);;
}
.favorite{
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.favorite button{
    background-color: rgb(33, 40, 238);
    color:wheat;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
